<div id="pins" class="transitions-enabled">
  <!--     #no need to for = sign after % as it doesn't show on page for the first @pins.each
  .each method creates a loop
  #the |pin| is a variable that is assigned for the loop
  #between DO and END is the block -->
  <% @pins.each do |pin| %>
    <div class="box panel default-panel">
      <%= image_tag pin.image.url(:medium) %>
      <div class="panel-body">
      <%= pin.description %>
      <%= pin.user.email if pin.user %>
      <!-- could also use pin.user.try(:email) -->
      <%= link_to 'Show', pin %>
      <% if pin.user == current_user %>
        <%= link_to 'Edit', edit_pin_path(pin) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>